<div class="glass-card">
  <div class="relative">
    @if (weather) {
      <img 
        [src]="weatherImage"
        alt="Weather" 
        class="weather-images"
      />
      <div class="modal-overlay-label">
        <p class="text-city">{{ displayCity }}
        </p>
        <p class="text-header-temperature">{{ weather.daily.temperature_2m_max[0] }}°C
        </p>
      </div>
    } @else {
      <img
        src="/images/Menu.jpg" 
        alt="WeatherDefault" 
        class="weather-images"
      />
    }
  </div>

  <div>
    <input 
      class="card-input" 
      type="text"
      [(ngModel)]="city"
      placeholder="Please type your city.🏢"
      (keyup.enter)="search()"
    />
  </div>

  @if (weather) {
    <div class="weather-info">
      <div class="info-item">
        <img src="/images/TemperatureMin.png" alt="min" class="images-icon"/>
        <p>{{ weather.daily.temperature_2m_min[0] }}°C</p>
        <p class="info-item-desc">min</p>
      </div>

      <div class="info-item">
        <img src="/images/TemperatureMax.png" alt="max" class="images-icon"/>
        <p>{{ weather.daily.temperature_2m_max[0] }}°C</p>
        <p class="info-item-desc">max</p>
      </div>

      <div class="info-item">
        <img src="/images/humidity.png" alt="humidity" class="images-icon"/>
        <p>{{ weather.current.relative_humidity_2m }}%</p>
        <p class="info-item-desc">humidity</p>
      </div>

      <div class="info-item">
        <img src="/images/wind.png" alt="wind" class="images-icon-wind"/>
        <p>{{ weather.current.windspeed_10m }} km/h</p>
        <p class="info-item-desc">wind</p>
      </div>
    </div>
  }
</div>