<div class="glass-card">
  <div>
    @if (weather) {
      <img 
        [src]="weatherImage"
        alt="Weather" 
        style="width: 400px; height: 250px; object-fit: cover; border-radius: 10px; margin-bottom: 15px;"
      />
    } @else {
      <img
        src="/images/Menu.jpg" 
        alt="WeatherDefault" 
        style="width: 400px; height: 250px; object-fit: cover; border-radius: 10px; margin-bottom: 15px;"
      />
    }
  </div>
  <div>
    <input 
      class="card-input" 
      type="text"
      [(ngModel)]="city"
      placeholder="Typing City..."
      (keyup.enter)="search()"
    />
  </div>

  @if (weather) {
    <div>
      <p>🌡️ อุณหภูมิสูงสุด: {{ weather.daily.temperature_2m_max[0] }} °C</p>
      <p>🌡️ อุณหภูมิต่ำสุด: {{ weather.daily.temperature_2m_min[0] }} °C</p>
      <p>💧 ความชื้น: {{ weather.current.relative_humidity_2m }} %</p>
      <p>💨 ความเร็วลม: {{ weather.current.windspeed_10m }} km/h</p>
    </div>
  }
</div>