@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    width: 100dvw;
    min-height: 100dvh;
    background-color: #3F74A1;
    font-family: 'Inter', sans-serif;
}

@layer components {
    .card-input {
        @apply w-[250px] sm:w-[250px] box-border bg-[rgba(77,77,77,0.10)] rounded-[15px] border border-[rgba(255,255,255,0.1)] shadow-[inset_2px_2px_0px_-2px_rgba(255,255,255,0.7),_inset_0_0_3px_1px_rgba(255,255,255,0.7)] p-1 text-sm text-white outline-none text-center;
        &::placeholder { @apply text-[rgba(255,255,255,0.6)]; }
    }

    .glass-card {
        @apply w-[350px] sm:w-[350px] bg-[rgba(77,77,77,0.10)] rounded-[15px] border border-[rgba(255,255,255,0.1)] shadow-[inset_2px_2px_0px_-2px_rgba(255,255,255,0.7),_inset_0_0_3px_1px_rgba(255,255,255,0.7)] p-5 text-center text-white;
    }

    .card-image-overlay .city{
        @apply text-2xl font-medium;
    }

    .card-image-overlay .temp{
        @apply text-5xl font-bold;
    }

    .weather-info {
        @apply grid grid-cols-2 gap-4 mt-4;
    }

    .info-item {
        @apply flex flex-col items-center gap-px text-[16px];
    }

    .info-item-head {
        @apply text-[16px];
    }

    .info-item-desc {
        @apply text-[16px];
    }

    .weather-images {
        @apply w-[350px] h-[200px] sm:w-[350px] sm:h-[200px] object-cover rounded-[15px] mb-[15px];
    }

    .modal-overlay-label {
        @apply absolute top-[15%] left-[50%] translate-x-[-50%] text-center
    }

    .text-city {
        @apply text-2xl font-normal mt-0 [text-shadow:1px_1px_4px_rgba(0,0,0,0.6)]
    }

    .text-header-temperature {
        @apply text-5xl font-bold mt-0 [text-shadow:1px_1px_4px_rgba(0,0,0,0.6)]
    }

    .images-icon {
        @apply w-[20px] h-[35px]
    }

    .images-icon-wind {
        @apply w-[37px] h-[37px]
    }
}