@import "tailwindcss";

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100dvw;
    min-height: 100dvh;
    background-color: #3F74A1;
    font-family: 'Inter', sans-serif;
}

@layer components {
    .card-input {
        @apply w-[200px] sm:w-[200px] box-border bg-[rgba(77,77,77,0.10)] rounded-[15px] border border-[rgba(255,255,255,0.1)] shadow-[inset_2px_2px_0px_-2px_rgba(255,255,255,0.7),_inset_0_0_3px_1px_rgba(255,255,255,0.7)] p-1 text-sm text-white outline-none text-center;
        &::placeholder { @apply text-[rgba(255,255,255,0.1)]; }
    }

    .glass-card {
        @apply w-[350px] sm:w-[350px] bg-[rgba(77,77,77,0.10)] rounded-[15px] border border-[rgba(255,255,255,0.1)] shadow-[inset_2px_2px_0px_-2px_rgba(255,255,255,0.7),_inset_0_0_3px_1px_rgba(255,255,255,0.7)] p-5 text-center text-white;
    }

    .card-image-overlay .city{
        @apply text-2xl font-medium;
    }

    .card-image-overlay .temp{
        @apply text-5xl font-bold;
    }

    .weather-info {
        @apply grid grid-cols-2 gap-4 mt-4;
    }

    .info-item {
        @apply flex flex-col items-center gap-px text-[16px];
    }

    .info-item-desc {
        @apply text-[16px];
    }

    .weather-images {
        @apply w-[350px] h-[200px] sm:w-[350px] sm:h-[200px] object-cover rounded-[15px] mb-[15px];
    }
}